<!DOCTYPE html>
{% from 'macros.j2' import section, make_table %}

<html>
{% include 'head.html' %}
<body>
<div class="container">
    <p>
    {% call section("Users") %}
        <ul class="list-unstyled">
        {% for user in craft.users %}
            <li>{{ user.name }} <a href="/users/{{ user.name }}"><b>[stats]</b></a></li>
        {% endfor %}
        </ul>
    {% endcall %}

    {% call section("Admins") %}
        <ul class="list-unstyled">
        {% for op in craft.ops %}
            <li><b>{{ op.name }}</b> [Level {{ op.level }}]</li>
        {% endfor %}
        </ul>
    {% endcall %}

    {% call section("Server Properties") %}
        {% call make_table() %}
            {% for key, val in craft.server_properties %}
            <tr>
                <td><b>{{ key }}</b></td>
                <td>{{ val }}</td>
            </tr>
            {% endfor %}
        {% endcall %}
    {% endcall %}

    {% call section("Level Data") %}
        {% call make_table() %}
            {% for key, val in craft.level_data.Data.items() | sort %}
            {% if key|string() == 'GameRules' %}
                <tr>
                    <td><b>{{ key }}</b></td>
                    <td>
                    {% call make_table() %}
                        {% for k, v in val.items() | sort %}
                            <tr>
                                <td><b>{{ k }}</b></td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endfor %}
                    {% endcall %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td><b>{{ key }}</b></td>
                    <td>{{ val }}</td>
                </tr>
            {% endif %}
            {% endfor %}
        {% endcall %}
    {% endcall %}

</div>
</body>
</html>
