{% macro section(title) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
            {{ caller() }}
        </div>
    </div>
{%- endmacro %}

{% macro make_table(headers=[]) -%}
    <table class="table table-condensed table-responsive">
        {% if headers %}
        <thead>
            <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {{ caller() }}
        </tbody>
    </table>
{%- endmacro %}

{% macro display_biomes(key, data) -%}
    <td>
        <ul class="list-unstyled">
        {% for item in data.progress | sort %}
            <li>{{ item }}</li>
        {% endfor %}
            <li><b>[value: {{ data.value }}]</b></li>
        </ul>
    </td>
    {{ caller() }}
{%- endmacro %}
