<!DOCTYPE html>
{% from 'macros.j2' import section %}

<html>
{% include 'head.html' %}
<body>
<div class="container">
    <h1>{{ username }}</h1>
    {% for category, data in craft.user_stats(username).items() | sort %}
        {% call section(category) %}
        <table class="table table-condensed table-responsive">
           <tbody>
            {% for key, val in data.items() | sort %}
                {% if category|string() == 'achievement' and key|string() == 'exploreAllBiomes' %}
                <tr>
                    <td><b>{{ key }}</b></td>
                    <td>
                        <ul class="list-unstyled">
                        {% for item in val.progress | sort %}
                            <li>{{ item }}</li>
                        {% endfor %}
                            <li><b>[value: {{ val.value }}]</b></li>
                        </ul>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td><b>{{ key }}</b></td>
                    <td>{{ val }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endcall %}
    {% endfor %}
</div>
</body>
